body{
    background-color: lightseagreen;
}

#Credito{
    border: 1px solid white;
}

#Boton{
    display: block;
    margin: 10px auto;
}

.MatrU{
    display: block;
    margin: 0 auto;
}

#OrdenP{
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid white;
    width: 500px;
}

#itm{
    height: 140px;
    width: 140px;
}